.app{
    /*display: flex;*/
    padding: 30px;
}

.game{
    /*width: 1050px;
    height: 1050px;*/
    display: flex;
    flex-wrap: wrap;
}

.game img{
    width: 70px;
    height: 70px;
}

.buttonDiv{
    display: inline;
    margin: 10px;
}

.numberButton{
    width: 61px;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
