.app{
    /*display: flex;*/
    padding: 30px;
}

.game{
    /*width: 1050px;
    height: 1050px;*/
    display: flex;
    flex-wrap: wrap;
}

.game img{
    width: 70px;
    height: 70px;
}

.buttonDiv{
    display: inline;
    margin: 10px;
}

.numberButton{
    height: '85px';
    width: '65px';
    color: 'white';
    text-align: 'center';
    font-size: '1rem';
    line-height: 'normal';
    float: 'left';
    border-radius: '5px';
    margin: '1.5rem auto'
}